body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

table{
    margin: 10px 10px;
    border-collapse: collapse;
}
th{
    background-color: #748f6e;
    color: white;
    font-weight: 400;
    width: 100px;
    padding: 5px 5px;
    border: 1px solid #748f6e;
}
th:nth-child(1){
    border-right: 1px solid white;
}
td{
    padding: 3px 5px;
    border: 1px solid lightgray;

}